@import "_styles.scss";

.portfolio-item-wrapper {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 2em;
  margin-bottom: 4em;
}

#portfolio-content {
padding: 0 1em;
  .portfolio-item {
    display: grid;
    img {
      width: 250px;
    }
    main {
      padding-left: 3em;
      h1 {
        font-family: $fancy-font;
        font-size: 1.5em;
        margin-bottom: 0.5em;
      }
      p {
        padding-bottom: 2em;
        max-width: 60ch;
        text-align: justify;
        color: $GREY7;
      }
    }
  }
}
.btn {
  display: inline-block;
  border: 1px solid $GREY3;
  overflow: hidden;
  text-transform: uppercase;
  height: 40px;
  min-width: 120px;
  padding: 0.1em 0.5em;
  background-color: $GREY2;
  color: $GREY7;
  font-size: 0.8em;
  margin: 0 0.2em 0.2em 0;

  &:hover {
    background-color: $GREY1;

  }
}
@media only screen and (min-width: $BREAKPOINT) {

  .portfolio-item {
    grid-template-columns: 300px auto;
  }

}

@media only screen and (max-width: $BREAKPOINT) {

  #portfolio-content {
    .portfolio-item {
      grid-template-columns: auto;

      img, main {
        padding: 2em 0;
        padding-left: 0;
      }

    }
  }
}
