@import "_styles.scss";

.portfolio-item-wrapper {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 2em;
  margin-bottom: 4em;
  box-shadow: 0 2.5px 6px rgba(0,0,0,.1);
  border-radius: 8px;
}

#portfolio-content {
padding: 0 1em;
  .portfolio-item {
    display: grid;

    .portfolio-item-heading {
      margin-bottom: 1.5em;
    }
    img {
      width: 250px;
      padding: 1em 0;
    }
    main {
      padding-left: 3em;
      h1 {
        font-family: $fancy-font;
        font-size: 1.5em;
      }
      p {
        padding-bottom: 1.5em;
        max-width: 60ch;
        text-align: justify;
        color: $GREY7;
        ul {
          li {
            margin-bottom: 0.5em;
            color: inherit;
          }
        }
      }
    }
  }
}
.btn {
  display: inline-block;
  border: 1px solid $GREY3;
  overflow: hidden;
  text-transform: uppercase;
  height: 40px;
  padding: 0.1em 0.5em;
  background-color: $GREY2;
  color: $GREY7;
  font-size: 0.8em;
  margin: 0 0.2em 0.2em 0;

  &:hover {
    background-color: $GREY1;

  }
}
@media only screen and (min-width: $BREAKPOINT) {

  .portfolio-item {
    grid-template-columns: 300px auto;
  }
}

@media only screen and (min-width: $MOBILE_BREAKPOINT) and (max-width: $BREAKPOINT) {

  #portfolio-content {
    padding: 0 4em;
    .portfolio-item {
      grid-template-columns: auto;
      img, main {
        padding: 1em 0;
      }
      img {
        width: 40vw;
      }
    }
  }
}


@media only screen and (max-width: $MOBILE_BREAKPOINT) {
  #portfolio-content {
    padding: 0;
    .portfolio-item {
      grid-template-columns: auto;
      padding: 0 2em;
      img, main {
        padding: 1em 0;
      }
      img {
        width: 100%;
      }
    }
  }
}

