$fancy-font-bold: 'BikoBold', serif;
$fancy-font: 'BikoRegular', serif;
$body-font: CallunaLight, sans-serif;
$GREY1: #F5FAFC;
$GREY2: #E9EDF0;
$GREY3: #D0D4D6;
$GREY4: #ABAEB0;
$GREY5: #6D6F70;
$GREY7: #444;
$GREY8: #1A1E23;

a {
  color: coral;
}

@font-face {
  font-family: 'BikoRegular';
  src: url('./fonts/Biko_Regular.otf') format('opentype');
}
@font-face {
  font-family: 'BikoBold';
  src: url('./fonts/Biko_Bold.otf') format('opentype');
}
@font-face {
  font-family: 'QuestaRegular';
  src: url('./fonts/2-Questa_Regular.otf') format('opentype');
}
@font-face {
  font-family: 'CallunaLight';
  src: url('./fonts/Calluna Light.otf') format('opentype');
}
@font-face {
  font-family: 'PrintClearlyBold';
  src: url('./fonts/PrintBold-J5o.ttf');
}

@font-face {
  font-family: 'PrintClearly';
  src: url('./fonts/PrintClearly-GGP.ttf');
}
@font-face {
  font-family: 'QuicksandRegular';
  src: url('./fonts/Quicksand-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'QuicksandBold';
  src: url('./fonts/Quicksand-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Blackjack';
  src: url('./fonts/blackjack.otf') format('opentype');
}
@font-face {
  font-family: 'LatoLight';
  src: url('./fonts/Lato-Light.ttf');
}

@font-face {
  font-family: 'CenturyOldStyle';
  src: url('./fonts/Century Old Style Std Regular.otf') format('opentype');
}
* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  font-family: 'CallunaLight', arial;
}

body {
  background-color: $GREY2;
}

.wrapper__container {
  min-height: 100vh;
  max-width: 1440px;
  display: grid;
}


nav {
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  padding-top: 2em;

  .logo {
    font-family: 'Blackjack', arial;
    font-size: 3em;
  }
  ul {
    padding-top: 2em;
    list-style: none;

    li {
      font-size: 1.5em;
      padding-top: 0.5em;

      a {
        text-decoration: inherit;
        font-family: $fancy-font;
        color: inherit;
      }
    }
  }
}

.content {
  padding: 0 2em;
  .portfolio-item {


    display: grid;
    img {
      width: 250px;
    }
    main {
      padding-left: 3em;
      h1 {
        font-family: $fancy-font;
        font-size: 1.5em;
        margin-bottom: 0.5em;
      }
      p {
        padding-bottom: 2em;
        max-width: 60ch;
        text-align: justify;
        color: $GREY7;
      }
    }
  }
}

.readable {
  max-width: 60ch;
  h1, h2, h3, h4, h5, h6 {
    font-family: $fancy-font-bold;
    margin-bottom: 0.5em;
  }
  p, ol, ul {
    margin-bottom: 1.5em;
    line-height: 1.5;
    text-align: justify;
  }
}

.dark {
  background: $GREY8;
  color: $GREY1;
}

.white {
  background: white;
  color: $GREY8;
}

.grey {
  background: $GREY1;
  color: $GREY8;
}

.btn {
  display: inline-block;
  border: 1px solid $GREY3;
  overflow: hidden;
  text-transform: uppercase;
  height: 40px;
  min-width: 150px;
  padding: 0.1em 1em;
  background-color: $GREY2;
  color: $GREY7;
  font-size: 0.8em;
  margin: 0 0.2em 0.2em 0;

  &:hover {
    background-color: $GREY1;

  }
}

@media only screen and (min-width:1200px) {
  .wrapper__container {
    grid-template-columns: 20% auto;
  }
  .portfolio-item {
    grid-template-columns: 300px auto;
  }
}
@media only screen and (max-width:1200px) {
  .wrapper__container {
    grid-template-columns: auto;
  }
  .content {
    .portfolio-item {
      grid-template-columns: auto;
      img, main {
        padding: 2em;
      }
    }
  }
}

.portfolio-item-wrapper {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 2em;
  margin-bottom: 2em;
}

.page_wrapper {
  display: flex;
  justify-content: center;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 4em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fancy-font;
}
